<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="ResellerUserName" value="329832"/>
    <add key="ResellerPassowrd" value="MB248001"/>
    <add key="DBConnection" value="Server=70.87.28.215;Database=InfoWebTestDB;User ID=InfoWebTestUser;Password=password@1;"/>

  </appSettings>
</configuration>