<?xml version="1.0"?>
<!--
    Please refer to machine.config.comments for a description and
    the default values of each configuration section.

    For a full documentation of the schema please refer to
    http://go.microsoft.com/fwlink/?LinkId=42127

    To improve performance, machine.config should contain only those
    settings that differ from their defaults.
-->
<configuration>
	<system.web>
		<customErrors mode="Off"/>
		<compilation defaultLanguage="c#"  debug="true"/>
		<pages enableViewState="false" enableViewStateMac="false"/>
	</system.web>
	<appSettings>
    <add key="ConnectionProvider" value="SQL"/>
		<!--<add key="ResellerUserName" value="329832"/>
		<add key="ResellerPassowrd" value="MB248001"/>-->

    <add key="ResellerUserName" value="89290"/>
    <add key="ResellerPassowrd" value="Ybailwal123"/>
    <add key="logPath" value="Logs"/>
   

    <!--  PayPay parameters-->
		<add key="PayPalUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr"/>
		<!--<add key="PayPalUrl" value="https://www.paypal.com/cgi-bin/webscr" />-->
		<add key="BusinessEmail" value="seller_1351070299_biz@gmail.com"/>
		<add key="CancelPurchaseUrl" value="http://localhost:4980/InvoiceDetail.aspx"/>
		<add key="ReturnUrl" value="http://localhost:4980/InvoiceDetail.aspx"/>
		<add key="NotifyUrl" value="http://www.infowebservices.in/Imaging/notify_url.aspx"/>
		<add key="CurrencyCode" value="USD"/>
		<add key="UseSandbox" value="true"/>
		<add key="SendToReturnURL" value="false"/>
		<add key="OffLine" value="false"/>
    <!--<add key="rootPath" value ="http://www.infowebservices.in"/>-->
    <add key="rootPath" value ="http://localhost:4980"/>
    
    <add key="DBConnection" value="Server=70.87.28.215;Database=InfoWebTestDB;User ID=InfoWebTestUser;Password=password@1;"/>
		<add key="ProcessWithoutPayment" value="true"/>
    <add key="ServiceTax" value="10.3"/>
	</appSettings>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="Home.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
