<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>

    <!--<add key="WebServiceBaseAddress" value ="http://infowebservices.in/WebApi/"/>-->

    <add key="WebServiceBaseAddress" value ="http://localhost:51697/"/>

    <!--- FTP setting -->
    <add key="FtpRootUrl" value ="ftp://waws-prod-sg1-001.ftp.azurewebsites.windows.net/site"/>
    <add key="FtpUserName" value="MBDevAsiaUI2\RSMahesh"/>
    <add key="FtpUserPassword" value="1234test!"/>

    <add key ="VncLocation" value="\\10.131.60.128\CopyedFiles\" />

    <add key="FileUploadChunkSizeInKB" value="50"/>
    <add key = "PassPhrase" value="Pas5pr@se" />
    <add key ="SaltValue" value="s@1tValue"/>
    <add key ="HashAlgorithm" value="SHA1"/>
    <add key ="PasswordIterations" value="2"/>
    <add key ="InitVector" value="@1B2c3D4e5F6g7H8"/>
    <add key ="KeySize" value="256"/>
  </appSettings>
</configuration>
