<?xml version="1.0"?>
<!--
    Please refer to machine.config.comments for a description and
    the default values of each configuration section.

    For a full documentation of the schema please refer to
    http://go.microsoft.com/fwlink/?LinkId=42127

    To improve performance, machine.config should contain only those
    settings that differ from their defaults.
-->
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation defaultLanguage="c#" debug="true"/>
    <pages enableViewState="false" enableViewStateMac="false"/>
  </system.web>
  <appSettings>
    <!--<add key="DBConnection" value="Data Source=sqlserverrestor.cloudapp.net,57134;Initial Catalog=InfoWebTestDB;User ID=maheshbailwal;Password=1234test!"/>-->
    <add key="DBConnection" value="Data Source=uetz1vzc24.database.windows.net;Initial Catalog=InfowebDB;Integrated Security=False;User ID=maheshbailwal;Password=1234test!;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;"/>

    <add key="ResellerUserName" value="89290"/>
    <add key="ResellerPassowrd" value="Ybailwal123"/>

    <!--<add name="Repository.TicketContext"
         connectionString="Data Source=C40-39-SF-MAHES\SQL2012;Initial Catalog=Tickets;User ID=bailwal;Password=mb248001"
         providerName="System.Data.SqlClient" />-->
  </appSettings>

  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
 
</configuration>
